@import "../../defaultStyles/Colors.scss";
@import "../../defaultStyles/Typography.scss";
@import "../../defaultStyles/MediaQueries.scss";

.service__container {
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  img:last-child {
    width: 100%;
  }

  .service__text {
    padding: 5px $base-padding;
  }
}

@include desktop {
  .service__container {
    grid-template-columns: 1fr;
    .service__text {
      .find__loan{
        display: flex;
        justify-content: center;
      }
  }
    .mobile__screen {
      display: none;
    }
  }
}
@include phone {
  .service__container {
    .service__text {
      padding-left: $mobile-padding;
      padding-right: $mobile-padding;
    }
  }
}
