@import "../../defaultStyles/Colors.scss";
@import "../../defaultStyles/Typography.scss";
@import "../../defaultStyles/MediaQueries.scss";

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $grayColor; 
    box-sizing: border-box;
    border-radius: 10px;
    height: 67px;
    padding: 0.8em;
    width: 100%;
    @include CircularTheme(500, 12px, normal, 12px);
}
.select-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $grayColor; 
    box-sizing: border-box;
    border-radius: 10px;
    height: 67px;
    padding: 0.4em 0.6em 0;
    width: 100%;
    @include CircularTheme(500, 12px, normal, 12px);
}

.label-field{
    color: $lightBlackColor;
    padding-bottom: 3px;
}
.select-label-field{
    color: $lightBlackColor;
}

.input-field{
    background: $grayColor;
    border-radius: 10px;
    border: none;
    font-size: 24px;
}
.select-input-field{
    background: $grayColor;
    border-radius: 10px;
    border: none;
    outline: none;
}

.input-field::placeholder{
    font-size: 16px;
}

select {
    color: $placeholderGray;
    font-size: 16px;
}
// select:enabled{
//     font-size: 24px;
//     color: $blackColor;
// }

// select:focus > option {
//     font-size: 18px;
//     color: $blackColor;
// }

.input-field:-webkit-autofill,
.input-field:-webkit-autofill:hover, 
.input-field:-webkit-autofill:focus, 
.input-field:-webkit-autofill:active,
.input-field:focus  {
    -webkit-box-shadow: 0 0 0 30px $grayColor inset;
    box-shadow: 0 0 0 30px $grayColor inset;
    outline: none;
}