@import "../../../../defaultStyles/Colors.scss";
@import "../../../../defaultStyles/Typography.scss";
@import "../../../../defaultStyles/MediaQueries.scss";

.title__wrapper {
  h3 {
    color: $primaryColor;
    margin-bottom: 10px;
    @include CircularTheme(700, 24px, normal, 30.34px);
  }
  p {
    margin-bottom: 3rem;
    width: 70%;
    color: #19352a;
    @include CircularTheme(500, 13px, normal, 16.44px);
  }
}

@include desktop {
  .title__wrapper {
    p {
      width: 100%;
    }
  }
}
