$primaryColor: #007683;
$secondaryColor: #5fbb97;
$lightSecondaryColor: #8ddca4;
$whiteColor: #ffffff;
$blackColor: #000000;
$darkColor: #060e0c;
//add other default colors here

$grayColor: #f7f7f7;
$lightBlackColor: #757474;
$greenColor: #3f2d66;
$lightGray: #eef2ef;
$placeholderGray: #A9A9AC;

$pageWidth: 1400px;
$base-padding: 3.1rem;
$mobile-padding: 1rem;
