@mixin CircularTheme(
  $fontWeight: 700,
  $fontSize: 48px,
  $fontStyle: normal,
  $lineHeight: 60px
) {
  // font-family: Circular Std Font;
  font-style: $fontStyle;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
}
//add other default typography here
