@import "../../../../defaultStyles/Colors.scss";
@import "../../../../defaultStyles/Typography.scss";
@import "../../../../defaultStyles/MediaQueries.scss";

.service__wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;

  h2 {
    @include CircularTheme(500, 14px, normal, 17.71px);
  }

  p {
    opacity: 0.5;
    width: 70%;
    @include CircularTheme(400, 12px, normal, 15.18px);
  }
}

@include desktop {
  .service__wrapper {
    p {
      width: 90%;
    }
  }
}
