@import "../../defaultStyles/Colors.scss";
@import "../../defaultStyles/Typography.scss";
@import "../../defaultStyles/MediaQueries.scss";

.work__container {
  background-image: url("../../assets/images/frame.svg");
  h1 {
    padding-top: 3.1rem;
    text-align: center;
    color: $primaryColor;
    @include CircularTheme(700, 24px, normal, 30.36px);
  }
  p {
    text-align: center;
    padding-top: 5px;
    margin-bottom: 60px;
    @include CircularTheme(500, 13px, normal, 16.44px);
  }

  .work__layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        margin-top: 3.1rem;
        @include CircularTheme(700, 14px, normal, 17.71px);
      }
      p {
        text-align: center;
        opacity: 0.5;
        width: 65%;
        @include CircularTheme(400, 12px, normal, 15.18px);
      }
    }
  }
  .work__btn {
    display: flex;
    justify-content: center;
    padding-bottom: 2.3rem;
  }
  @include desktop {
    .work__layout {
      grid-template-columns: 1fr;
    }
  }
  @include phone {

  }
}
